src/wsdl/localhost_8080/TextConWebService/ConversorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://textconwebservice.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://textconwebservice.cl/" name="ConversorService">
<types>
<xsd:schema>
<xsd:import namespace="http://textconwebservice.cl/" schemaLocation="http://localhost:8080/TextConWebService/ConversorService?xsd=1"/>
</xsd:schema>
</types>
<message name="convertirPDF">
<part name="parameters" element="tns:convertirPDF"/>
</message>
<message name="convertirPDFResponse">
<part name="parameters" element="tns:convertirPDFResponse"/>
</message>
<message name="convertirDOC">
<part name="parameters" element="tns:convertirDOC"/>
</message>
<message name="convertirDOCResponse">
<part name="parameters" element="tns:convertirDOCResponse"/>
</message>
<message name="convertidorGlobal">
<part name="parameters" element="tns:convertidorGlobal"/>
</message>
<message name="convertidorGlobalResponse">
<part name="parameters" element="tns:convertidorGlobalResponse"/>
</message>
<message name="convertirTXT">
<part name="parameters" element="tns:convertirTXT"/>
</message>
<message name="convertirTXTResponse">
<part name="parameters" element="tns:convertirTXTResponse"/>
</message>
<message name="convertirDOCX">
<part name="parameters" element="tns:convertirDOCX"/>
</message>
<message name="convertirDOCXResponse">
<part name="parameters" element="tns:convertirDOCXResponse"/>
</message>
<portType name="ConversorService">
<operation name="convertirPDF">
<input wsam:Action="http://textconwebservice.cl/ConversorService/convertirPDFRequest" message="tns:convertirPDF"/>
<output wsam:Action="http://textconwebservice.cl/ConversorService/convertirPDFResponse" message="tns:convertirPDFResponse"/>
</operation>
<operation name="convertirDOC">
<input wsam:Action="http://textconwebservice.cl/ConversorService/convertirDOCRequest" message="tns:convertirDOC"/>
<output wsam:Action="http://textconwebservice.cl/ConversorService/convertirDOCResponse" message="tns:convertirDOCResponse"/>
</operation>
<operation name="convertidorGlobal">
<input wsam:Action="http://textconwebservice.cl/ConversorService/convertidorGlobalRequest" message="tns:convertidorGlobal"/>
<output wsam:Action="http://textconwebservice.cl/ConversorService/convertidorGlobalResponse" message="tns:convertidorGlobalResponse"/>
</operation>
<operation name="convertirTXT">
<input wsam:Action="http://textconwebservice.cl/ConversorService/convertirTXTRequest" message="tns:convertirTXT"/>
<output wsam:Action="http://textconwebservice.cl/ConversorService/convertirTXTResponse" message="tns:convertirTXTResponse"/>
</operation>
<operation name="convertirDOCX">
<input wsam:Action="http://textconwebservice.cl/ConversorService/convertirDOCXRequest" message="tns:convertirDOCX"/>
<output wsam:Action="http://textconwebservice.cl/ConversorService/convertirDOCXResponse" message="tns:convertirDOCXResponse"/>
</operation>
</portType>
<binding name="ConversorServicePortBinding" type="tns:ConversorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertirPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertirDOC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertidorGlobal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertirTXT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertirDOCX">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConversorService">
<port name="ConversorServicePort" binding="tns:ConversorServicePortBinding">
<soap:address location="http://localhost:8080/TextConWebService/ConversorService"/>
</port>
</service>
</definitions>